.reset-to-signIn {
    position: fixed;
    top: 300px;
    right: 30px;
    color: #b9c2c7;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      color: #f51839;
    }
  }