.severity {
  position: relative;
  margin-left: 50px;
  line-height: 20px;
  width: 130px;
  &:hover {
    ul {
      display: block;
      background-color: #fff;
    }
    span {
      opacity: 1;
    }
  }
  p {
    width: 130px;
    color: #d4c6c5;
  }
  span {
    position: absolute;
    top: 2px;
    right: 24px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #d8d8d8;
    color: #cccccc;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  ul {
    display: none;
    position: relative;
    z-index: 999;
    margin-top: 5px;
    width: 130px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    li {
      box-sizing: border-box;
      width: 130px;
      line-height: 30px;
      padding-left: 20px;
      color: #5d4835;
      &.active {
        background-color: #999999;
        color: #fff;
      }
      &:hover {
        background-color: #999;
        color: #fff;
      }
    }
  }
}