.todoItem {
  margin-top: 10px;
  margin-bottom: 35px;
  width: 100%;
  height: 68px;
  line-height: 48px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .content {
    position: relative;
    margin-left: 50px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #f2f2f2;
      border-radius: 3px;
      .btn {
        opacity: 1;
        span {
          cursor: pointer;
        }
      }
    }
  }
  .common {
    float: left;
    margin-top: 8px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #cbcbcb;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #d9d9d9;
      cursor: pointer;
    }
    &.iconfont {
      color: #fff;
    }
    &.completed{
      background-color: #7ed61f;
      border-color: #7ed61f;
      color: #fff; 
    }
  }
  .text {
    position: relative;
    color: #000107;
    line-height: 48px;
    font-size: 18px;
    &.completed {
      color: #cccacb;
      text-decoration: line-through;
    }
    .point {
      position: absolute;
      top: 10px;
      margin-left: 3px;
      width: 10px;
      height: 10px;
      background-color: #f8a718;
      border-radius: 50%; 
    }
    
  }
  .btn {
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0;
    transition: all 0.3s linear;
    span {
      vertical-align: middle;
      color: #bcbcbc;
      font-size: 18px;
    }
    .icon-delete1 {
      position: relative;
      top: -2px;
      margin-left: 5px;
    }
  }
}