.add-input {
  margin-top: 60px; 
  position: relative;
  width: 100%;
  input {
    padding: 15px 112px 12px 40px;
    width: 483px;
    font-size: 22px;
    color: #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  span {
    position: absolute;
    top: 11px;
    left: 0;
    width: 26px;
    height: 26px;
    line-height: 23px;
    text-align: center;
    border: 2px solid #ccc;
    color: #ccc;
    border-radius: 50%; 
    font-size: 26px;
  }
}